.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 30px;
  background: #1d3557;
  color: #f1faee;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transition: 0.3s;
}

.star {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 48px;
  cursor: pointer;
}

.star:hover {
  transition: transform ease 0.3s;
  transform: rotate(-0.25turn);
}

.article {
  padding: 30px;
  background: #a8dadc;
  border-radius: 5px;
  color: #54819e;
  text-align: center;
  transition: color 0.5s;
}

.article-title {
  margin-bottom: 12px;
  font-size: 24px;
  transition: transform 0.5s;
}

h2.article-title:hover {
  font-size: 29px;
  transition: 0.3s;
  color: #1d3557;
}
